@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap'); /*h1 font*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap'); /*h2 font*/


body{
  background-color:#FFE6EE;
}
h1{
  color:#E11584;
  font-family: 'Noto Sans', sans-serif;
}

.mainpageh{
  text-align: center;
}

h2{
  color:#FA86c4;
  font-family: 'Noto Sans', sans-serif;
  text-align:center;
}

h3{
  color:#f79ac0;
  font-family: 'Noto Sans', sans-serif;
  text-align:center;
}

p{
  color:#9e4244;
  font-family: 'Noto Sans', sans-serif;
}
.NavBar{
  display: flex;
  width:100%;
  height: 50px;
  background-color:white;
}
.Logo{
  flex-grow: .5;
  background-color:#FFE6EE;
}
.Links {
  display:flex;
  justify-content: flex-end;
  flex-grow: 3;
  background-color:#FFE6EE;
  text-decoration:none;
}
.Links a{
  flex-grow:1;
  text-align:right;
  color:#FC46AA
}
a:link{
  text-decoration: none;
}

@media screen and (min-width: 400px) and (min-height: 700px){
  	.container {
  		margin: 1em 2em;
  }
}
.contact{
  display: grid;
  height: 200px;
  width: 400px;
  margin-left: auto;
  margin-right:auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
